@model IEnumerable<SPH.Models.Messenger>

@{
    ViewData["Title"] = "Lista de Contactos";
}

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- Font Awesome para íconos -->
    <link rel="stylesheet" href="~/css/mensajes.css">
</head>

<form id="deleteForm" method="post">
    @Html.AntiForgeryToken()
</form>


<!-- ============ Container ============ -->
<div class="container">

    <!-- ============ Navigation ============ -->
    <nav class="navigation">
        <ul>
            <!-- Logo -->
            <li class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <span class="icon">
                        <ion-icon name="logo-apple"></ion-icon>
                    </span>
                    <span class="title">Student Planner Hub</span>
                </a>
            </li>

            <!-- Navigation Links -->
            <li>
                <a href="@Url.Action("Index", "Calendaries")">
                    <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                    <span class="title">Calendario</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Diaries")">
                    <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                    <span class="title">Agenda</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Organizers")">
                    <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="title">Organizador</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Messengers")">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="title">Mensajería</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Themes")">
                    <span class="icon"><ion-icon name="brush-outline"></ion-icon></span>
                    <span class="title">Personalizar Tema</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Details", "Users")">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Configurar</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("LogOut", "Home")">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- ============ Main Content ============ -->
    <div class="main">
        <!-- Topbar -->
        <div class="topbar">
            <!-- Toggle Button -->
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>

        <!-- ======================= Contenido Principal ================== -->
        <div class="content" id="content">
            <h2>Lista de contactos</h2>
            <p>
                <a asp-action="Create" class="btn btn-primary">Agregar Contacto</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UserContact.Correo)</th>
                        <th>@Html.DisplayNameFor(model => model.NameUserContact)</th>
                        <th>Messenger ID</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserContact.Correo)</td>
                            <td>@Html.DisplayFor(modelItem => item.NameUserContact)</td>
                            <td>@Html.DisplayFor(modelItem => item.MessengerId)</td>
                            <td>
                                <a href="@Url.Action("Index", "Messages", new { messengerId = item.MessengerId })" class="btn btn-primary">Ver Mensajes</a>
                                <a asp-action="Detail" asp-route-id="@item.MessengerId" class="btn btn-warning">Detalles</a>
                                <a asp-action="Edit" asp-route-id="@item.MessengerId" class="btn btn-warning">Editar</a>
                                <button type="button" class="btn btn-danger" onclick="Delete(@item.MessengerId)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/messenger-delete.js"></script>
    <script src="~/js/sidebar.js"></script>


    <script>
        const toggle = document.querySelector('.toggle');
        const navigation = document.querySelector('.navigation');
        const main = document.querySelector('.main');

        toggle.onclick = function () {
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        };
    </script>
}